<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hanry"
    android:versionCode="1"
    android:versionName="1.0" >
<uses-sdk android:minSdkVersion="4" android:targetSdkVersion="17" />
    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" >
    </uses-permission>
	<uses-permission android:name="android.permission.VIBRATE" >
	</uses-permission> 
    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <activity
            android:name="com.hanry.Main"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>         
        </activity>
        <activity
            android:name=".WifiCarSettings"
            android:label="@string/title_activity_wifi_car_settings" 
            android:screenOrientation="landscape" >
        </activity>
        <receiver android:name="com.hanry.HanryReceiver" > 
		    <intent-filter> 
		        <action android:name="hanry.take_picture_done" /> 
		    </intent-filter> 
		</receiver> 
    </application>

</manifest>